body{
    background: #473080;
    background: linear-gradient(to right, #B931BC, #473080);
}
.bg {
    background-image: url(../img/gamer.jpg);
    background-position: center center;
}


input[name=birth]{

}

button{
    background-color: #B931BC;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    margin: 0 auto;
    justify-content: center;

}

.signup{

}
