<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir APEX</title>
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/hamburgers.css">
</head>
<body class="Apex">
<button id="btnHamburger" class="hamburger-button hamburger hamburger--arrowturn" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
</button>
<aside class="panel aside-1">
    <nav class="navMenu">
        <a href="#section1" class="panel-options">Buscar</a>
        <a href="#section2" class="panel-options">Mi Perfil</a>
        <a href="#section3" class="panel-options">Juegos</a>
    </nav>
    <div class="playTwogether-brand">
        <img class="playTwogether-logo" src="../img/PlayTwogether_icon.png" alt="Play Twogether Logo">
        <label class="lblPlayTwogether">Play Twogether</label>
    </div>
</aside>

<div class="container content-wrapper">
    <div class="container game-form bg-white rounded shadow">

        <div class="row align-items-stretch">
            <div class="col bg-white p-5 rounded-end">
                <div class="row mb-4 justify-content-center">
                    <img src="../img/Apex/apex_logo.png" class="w-25" alt="Apex Logo">
                </div>
                <form>
                    <div class="container">
                        <div class="row mb-4">
                            <label for="tfNickname" class="col-lg-3 form-label text-lg-end">Nombre de usuario:</label>
                            <input type="text" class="col form-control" name="nickname" id="tfNickname">

                            <label for="tfLevel" class="col-lg-3 form-label text-lg-end">Nivel:</label>
                            <input type="text" class="col form-control" name="nickname" id="tfLevel">
                        </div>

                        <div class="row mb-4">
                            <label for="cbAgent" class="col-lg-3 form-label text-lg-end">Personaje más utilizado: </label>
                            <select name="sex" class="col form-select" id="cbAgent">
                                <option value="0">Selecciona</option>
                                <option value="1">Ash</option>
                                <option value="2">Bangalore</option>
                                <option value="3">Bloodhound</option>
                                <option value="4">Caustic</option>
                                <option value="5">Crypto</option>
                                <option value="6">Fuse</option>
                                <option value="7">Gibraltar</option>
                                <option value="8">Horizon</option>
                                <option value="9">Lifeline</option>
                                <option value="10">Loba</option>
                                <option value="11">Mirage</option>
                                <option value="12">Octane</option>
                                <option value="14">Pathfinder</option>
                                <option value="14">Rampart</option>
                                <option value="15">Seer</option>
                                <option value="16">Valkyrie</option>
                                <option value="17">Wattson</option>
                                <option value="18">Wraith</option>
                            </select>
                        </div>

                        <div class="row mb-4">
                            <label for="cbRank" class="col-lg-3 form-label text-lg-end">Rango: </label>
                            <select name="sex" class="col form-select" id="cbRank">
                                <option value="0">Selecciona</option>
                                <option value="2">Bronze</option>
                                <option value="3">Silver</option>
                                <option value="4">Gold</option>
                                <option value="5">Platinum</option>
                                <option value="6">Diamond</option>
                                <option value="7">Apex Predator</option>
                            </select>
                        </div>

                        <div class="row mb-4">
                            <label for="tfHours" class="col-lg-3 form-label text-lg-end">Horas de juego:</label>
                            <input type="text" class="col form-control" name="nickname" id="tfHours">
                        </div>

                        <div class="row">
                            <p id="warning" class="col warning-message"></p>
                            <button id="btnAddGame" class="col-lg-12 rounded-2 shadow" type="submit">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script src="../js/AddValorant.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="../js/menu_hamburguesa.js" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>