<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apex</title>
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/gameInfo.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body class="Apex">
<button id="btnHamburger" class="hamburger-button hamburger hamburger--arrowturn" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
</button>
<aside class="panel aside-1">
    <nav class="navMenu">
        <a href="search.html" id="hbSearch" class="panel-options">Buscar Jugadores</a>
        <a href="#section2" id="hbMyProfile" class="panel-options">Mi Perfil</a>
        <a href="games.html" id="hbGames" class="panel-options">Juegos</a>
        <a href="#section4" id="hbReportedPlayers" class="panel-options">Jugadores reportados</a>
    </nav>
    <div class="playTwogether-brand">
        <img class="playTwogether-logo" src="../img/PlayTwogether_icon.png" alt="Play Twogether Logo">
        <label class="lblPlayTwogether">Play Twogether</label>
    </div>
</aside>

<div class="container content-wrapper">
    <div id="game-info-container" class="container bg-apex-character content-game mt-5 bg-white p-5 rounded shadow">
        <div class="col">
            <div class="row">
                <div class="col d-flex align-content-center center col-12 col-xl-6">
                    <label id="lblCharacter" class="game-info character-apex text-center col">Character</label>
                </div>
                <div class="col">
                    <div class="row mb-4 justify-content-center">
                        <img src="../img/ApexLegends/ApexLegends_logo.png" class="w-25" alt="Apex Logo">
                    </div>
                    <div class="row mb-4">
                        <label id="lblNickname" class="game-info text-center col-12">Nickname</label>
                    </div>
                    <div class="row mb-4">
                        <label id="lblLevel" class="game-info text-center col-12">Level</label>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <label id="lblRank" class="game-info text-center">Rank</label>
                    </div>
                    <div class="row justify-content-center mb-4 align-items-center">
                        <img id="imgRank" src="../img/ApexLegends/rank/Depredador.png" class="rank col-auto" alt="Rank">
                    </div>
                    <div class="row">
                        <div class="container bg-light rounded">
                            <p id="pNote" class="col text-wrap">Sample Text.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/Apex.js" type="module"></script>
<script src="js/bootstrap.bundle.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>
</html>