<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>

<div class="container" id="sos">

</div>

<template id="template-box">
    <div class="container bg-warning rounded box">
        <div class="box-text-container">
            <p class="restaurant-name">Efrain</p>
            <p class="restaurant-schedule">Es</p>
            <p class="restaurant-price">Genial</p>
        </div>
    </div>
</template>


<script src="../js/lista.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>