<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regísrate</title>
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
<div class="container content-wrapper">
    <div class="container bg-white rounded shadow">

        <div class="row align-items-stretch">
            <div class="col bg-white p-5 rounded-end">

                <h2 id="title" class="fw-bold text-center py-5">Regístrate</h2>
                <form>
                    <div class="container">
                        <div class="row mb-4">
                            <label for="tfEmail" class="col-lg-3 form-label text-lg-end">*Correo electronico:</label>
                            <input type="email" class="col form-control" required name="email" id="tfEmail">
                            <p id="email-warning"></p>
                        </div>
                        <div class="row mb-4">
                            <label for="tfNickname" class="col-lg-3 form-label text-lg-end">*Nombre de usuario:</label>
                            <input type="text" class="col form-control" required name="nickname" id="tfNickname">
                            <p id="nickname-warning"></p>
                        </div>
                        <div class="row mb-4">
                            <label for="tfPassword" class="col-lg-3 form-label text-lg-end">*Contraseña:</label>
                            <input type="password" class="col form-control" required name="password" id="tfPassword">

                            <label for="tfRepeatPassword" class="col-lg-3 form-label text-lg-end">*Repetir
                                Contraseña:</label>
                            <input type="password" class="col form-control" required name="repeatPassword" id="tfRepeatPassword">
                            <p id="password-warning"></p>
                        </div>
                        <div class="row mb-4">
                            <label for="cbSex" class="col-lg-3 form-label text-lg-end">Genero: </label>
                            <select name="sex" class="col form-select" required id="cbSex">
                                <option value="O">No especificar</option>
                                <option value="F">Mujer</option>
                                <option value="M">Hombre</option>
                            </select>
                            <p id="gender-warning"></p>
                        </div>

                        <div class="row mb-4">
                            <label for="dpBirthday" class="col-lg-3 form-label text-lg-end">*Fecha de
                                nacimiento: </label>
                            <input type="date" class="col form-control" required name="birth" id="dpBirthday">
                            <p id="birthday-warning"></p>
                        </div>
                        <div class="row">
                            <p class="text-center">*Horario de juego:</p>
                        </div>

                        <div class="row d-flex align-content-center">
                            <div class="col d-flex justify-content-center">
                                <div class="row d-flex ">
                                    <div class="col-4">
                                        <img class="kind_icon" src="../img/KindOfPlayers/mañanero.png" alt="Mañanero">
                                        <p>Mañanero</p>
                                        <p>(6AM-10AM)</p>
                                        <input name="schedule-radio" value="1" type="radio">
                                    </div>
                                    <div class="col-4">
                                        <img class="kind_icon" src="../img/KindOfPlayers/medio_dia.png" alt="Medio Día">
                                        <p>Medio Día</p>
                                        <p>(6AM-10AM)</p>
                                        <input name="schedule-radio" value="2" type="radio">
                                    </div>
                                    <div class="col-4">
                                        <img class="kind_icon" src="../img/KindOfPlayers/hora_pico.png" alt="Hora Pico">
                                        <p>Hora Pico</p>
                                        <p>(6AM-10AM)</p>
                                        <input name="schedule-radio" value="3" type="radio">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex align-content-center">
                            <div class="col d-flex justify-content-center">
                                <div class="row d-flex ">
                                    <div class="col-4">
                                        <img class="kind_icon" src="../img/KindOfPlayers/vespertino.png" alt="Vespertino">
                                        <p>Vespertino</p>
                                        <p>(6AM-10AM)</p>
                                        <input name="schedule-radio" value="4" type="radio">
                                    </div>
                                    <div class="col-4">
                                        <img class="kind_icon" src="../img/KindOfPlayers/nocturno.png" alt="Nocturno">
                                        <p>Nocturno</p>
                                        <p>(6AM-10AM)</p>
                                        <input name="schedule-radio" value="5" type="radio">
                                    </div>
                                    <div class="col-4">
                                        <img class="kind_icon" src="../img/KindOfPlayers/sonambulo.png" alt="Sonambulo">
                                        <p>Sonámbulo</p>
                                        <p>(6AM-10AM)</p>
                                        <input name="schedule-radio" value="6" type="radio">
                                    </div>
                                    <p id="schedule-warning"></p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <p id="warning" class="col warning-message"></p>
                            <button id="btnSignUp" class="col-lg-12 rounded-2 shadow" type="submit">Registrarse</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script src="../js/signup.js" type="module"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
</body>
</html>