<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant</title>
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body class="Valorant">
<div class="container content-wrapper">
    <div class="container content-game h-100 bg-white rounded shadow">
        <div class="row mb-4 justify-content-center">
            <img src="../img/Valorant/valorant_logo.png" class="w-25" alt="Valorant Logo">
        </div>
        <div class="row align-items-stretch">
            <img src="../img/Valorant/agents/phoenix.png" class="agent col" alt="Valorant Logo">
            <div class="col">
                <div class="row mb-4">
                    <label class="game-info text-center text-lg-start col-12">EfrainCami#7777</label>
                </div>
                <div class="row mb-4">
                    <label class="game-info text-center text-lg-start col-12">Nivel 150</label>
                </div>
                <div class="row align-items-center">
                    <label class="game-info col-lg-3">Inmortal</label>
                    <img src="../img/Valorant/rank/sos.png" class="rank col-auto m-3" alt="Valorant Logo">
                </div>

            </div>
        </div>
    </div>
</div>

<script src="js/bootstrap.bundle.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>
</html>