<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/in-site-style.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a href="#">
                    <li>Buscar</li>
                </a>
                <a href="#">
                    <li>Mi Perfil</li>
                </a>
                <a href="#">
                    <li>Juegos</li>
                </a>
                <a href="https://erikterwan.com/" target="_blank">
                    <li>Show me more</li>
                </a>
            </ul>
        </div>
    </nav>

    <div id="content-box" class="container rounded shadow">

        <div id="edit-icon" class="text-end">
            <img src="../img/logo.png" width="48" alt="">
        </div>

        <div class="row align-items-stretch">
            <div class="col mt-1 rounded-end">
                <div class="container">
                    <div class="row mb-4">
                        <img id="profile-pic" class="col-xs-12 col-sm-12 col-md-12" src="../img/default_picture.jpg"
                             alt="Profile pic">
                        <div class="col-xs-12 col-lg-6">
                            <label class="mb-2">Efrain Arenas</label><br>
                            <label class="mb-2">22 años</label><br>
                            <label class="mb-2">Hombre</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="games-box" class="container bg-dark rounded overflow-auto ">



        </div>


    </div>


</body>
</html>